
.footer
  .footer__logo
    img(src="/img/logo-green.png", alt="Natours logo")
  ul.footer__nav
    li: a(href="#", title="title") About us 
    li: a(href="#", title="title") Download apps 
    li: a(href="#", title="title") Become a guide
    li: a(href="#", title="title") Careers
    li: a(href="#", title="title") Contact
  p.footer__copyright &copy; By Adel Essam. All rights reserved.
